body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* flex-wrap: wrap; */
}

.container {
  border: 5px solid black;
  height: 75vh;
  width: 500px;
}

.display {
  border: 2px solid red;
  height: 20vh;
  margin: 20px;
}

.second-display {
  border: 2px solid green;
  height: 6vh;
  margin: 10px;
}

.main-display {
  border: 2px solid green;
  height: 10vh;
  margin: 10px;
}

.buttons {
  border: 2px solid red;
  height: 10vh;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  border: 2px solid green;
  margin: 10px;
  width: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operands {
  border: 2px solid red;
  margin: 20px;
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
}

.operand {
  border: 2px solid green;
  margin: 8px;
  width: 7vh;
  
}