*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  background-image: linear-gradient(to right, #dab2fa, rgb(178, 250, 218));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.display {
  color: white;
  max-width: 400px;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(126, 46, 132, .25);
  word-wrap: break-word;
  word-break: break-all;
  /* flex-wrap: wrap; */
}

/* .container-buttons {

  border: 1px solid black;
} */

.output-before {
  font-size: 1.2rem;
  color: rgba(255,255,255, .6);
}


button {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  outline: none;
  border: 1px solid #7E2E84;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgba(178, 250, 218, .25);
  transition: ease-in-out;
}


.span-two {
  flex-grow: 2;
}

.row-span {
  display: flex;
}