*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 500px;
}

main {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  /* margin: auto; */
}

button {
  width: 5rem;
  height: 5rem;
}

.span-two {
  flex-grow: 2;
}

.container-buttons {
  border: 1px solid black;
}

.row-span {
  display: flex;

}